/* color palette*/

/*defalult values*/

*, *::after , *::before{
    box-sizing: border-box;
}
/* Global var*/
:root{
    --cell-size: 7em;
    --mark-size: calc(var(--cell-size) * .9);
}
html{
    
    font-size: 16px;
    color: #0efff9;
}

body{

    padding: 0;
    margin: 0;
    background-color: black;

}

/*Tabletop Design*/
.Tabletop{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items:center;
    display: grid;

    /*Dividir contenido en 3 columnas*/
    grid-template-columns: repeat(3, auto);

}

/* Box Design*/
.box{
    width: 7em;
    height: 7em;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.box:hover{
    background-color: whitesmoke;
    
    opacity: 0.2;
}

/*Box Lines*/
#one{
    border-right: 0.5em solid whitesmoke;
    border-bottom: 0.5em solid whitesmoke ;
}

#two{
    border-right: 0.5em solid whitesmoke;
    border-bottom: 0.5em solid whitesmoke;
    border-left: 0.5em solid whitesmoke;
}

#tree{
    border-left: 0.5em solid whitesmoke;
    border-bottom: 0.5em solid whitesmoke ;
}

#four{
    border-top: 0.5em solid whitesmoke;
    border-right: 0.5em solid whitesmoke;
    border-bottom: 0.5em solid whitesmoke ;
}
#five{
    border: 0.5em solid whitesmoke;
}

#six{
    border-top: 0.5em solid whitesmoke;
    border-left: 0.5em solid whitesmoke;
    border-bottom:0.5em solid whitesmoke ;
}

#seven{
    border-right: 0.5em solid whitesmoke;
    border-top: 0.5em solid whitesmoke ;
}

#eight{
    border-right: 0.5em solid whitesmoke;
    border-top: 0.5em solid whitesmoke;
    border-left: 0.5em solid whitesmoke;
}
#nine{
    border-left: 0.5em solid whitesmoke;
    border-top: 0.5em solid whitesmoke ;
}

/* X and O design */

.X::before, .X::after{
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: whitesmoke;
    position: absolute;
    
}
.X::after{
    transform: rotate(45deg);
}
.X::before{
    transform: rotate(-45deg);
}
.O::before , .O::after{

    content: '';
    
    position: absolute;
    border-radius: 50%;
}

.O::before{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: whitesmoke;
}

.O::after{
    width: calc(var(--mark-size) * 0.8);
    height: calc(var(--mark-size) * 0.8);
    background-color: black;
}

/*Negate default hover*/
.X:hover , .O:hover{

    background-color: black;
    opacity: 1;
    
}

.Rest{

    position: fixed;
    justify-content: center;
    
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none; /* flex / none */

    font-size: 10em;
    color: whitesmoke;

    padding: 0;
    margin: 0;

}

.Rest .Message{
    position: fixed;
    top: 0.2em;
    font-size: 0.6em;
}

.Rest .restButton{
    position: fixed;
    display: inline-block;
    bottom: 4em;
    width: 10em;
    height: 5em;
    border-color: whitesmoke;
    background-color: whitesmoke;
    font-size: 0.1em;
    border: 1px solid whitesmoke;
}

.Rest .restButton:hover{
    background-color: gray;
    cursor: pointer;
}
